@model IEnumerable<MvcLabManager.Models.Lab>;

@{
    ViewData["Title"] = "Laboratórios";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<hr>
<form action="/Lab/Create"><button class="btn btn-primary">Cadastrar</button></form><br>

@if(Model.Count() == 0)
{
    <p>Nenhum laboratório cadastrado</p>
} 
else
{
    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Número</th>
                <th scope="col">Nome</th>
                <th scope="col">Bloco</th>
                <th colspan="2" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var lab in Model)
            {
                <tr>
                    <td scope="row">@lab.Id</td>
                    <td>@lab.Number</td>
                    <td>@lab.Name</td>
                    <td>@lab.Block</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/Lab/Show/@lab.Id">Ver</a>
                    </td>
                    <td>
                        @* <form action="/Computer/Delete/@computer.Id"><button class="btn btn-danger btn-sm">Excluir</button></form> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}