@model MvcLabManager.Models.Lab; 

@{
    ViewData["Title"] = $"Laboratório {Model.Id}";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<hr>
<a asp-controller="Lab" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Atualizar</a><br><br>

<p>
    <b>Id:</b> @Model.Id
</p>
<p>
    <b>Número:</b> @Model.Number
</p>
<p>
    <b>Nome:</b> @Model.Name
</p>
<p>
    <b>Bloco:</b> @Model.Block
</p>

<a asp-controller="Lab" asp-action="Index" class="btn btn-outline-primary">Voltar</a>